language: node_js
os: windows

node_js:
  - "node"
  - "7"

before_script:
  - npm install -g electron-packager
  - npm install -g asar

script:
   - electron-packager . --overwrite --asar --ignore=.git --ignore=build
   - cp -r dist managment_software-win32-x64/
   - cp -r 数据 managment_software-win32-x64/
   - zip -r managment_software.zip managment_software-win32-x64

deploy:
  provider: releases
  api_key: '$GITHUB_API_KEY'
  file: 'managment_software.zip'
  skip_cleanup: true
  on:
    tags/
