language: node_js
os: windows

node_js:
  - "node"

python:
  - "2.7"

before_script:
  - npm install -g electron-packager
  - npm install -g asar

install:
  - choco install miniconda3 --version 4.5.11 --params="'/AddToPath:1'";
  - export PATH="/c/tools/miniconda3/scripts:/c/tools/miniconda3/:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda create -n py2k python=2.7 xlwt
  - source activate py2k
  - pip install pyinstaller

script:
  - pyinstaller --onefile pycalc/check.py
  - source deactivate
  - npm install
  - electron-packager . --overwrite --asar --ignore=.git --ignore=build
  - cp -r dist managment_software-win32-x64/
  - cp pycalc/info.dat managment_software-win32-x64/dist/
  - 7z a -tzip managment_software.zip -r managment_software-win32-x64

deploy:
  provider: releases
  api_key: 'ccc63df3cd195a3dbd199e73bd8a2762326e3b35'
  file: 'managment_software.zip'
  skip_cleanup: true
