language: node_js
os: windows

node_js:
  - "node"


before_script:
  - npm install -g electron-packager
  - npm install -g asar

script:
   - electron-packager . --overwrite --asar --ignore=.git --ignore=build
   - cp -r dist managment_software-win32-x64/
   - 7z a -tzip managment_software.zip -r managment_software-win32-x64

deploy:
  provider: releases
  api_key: 'ccc63df3cd195a3dbd199e73bd8a2762326e3b35'
  file: 'managment_software.zip'
  skip_cleanup: true
