language: node_js
os: windows

node_js:
  - "node"

python:
  - "2.7"

before_script:
  - npm install -g electron-packager
  - npm install -g asar

script:
  - choco install miniconda3
  - conda create -n py2k python=2.7 xlwt pyintaller
  - ~/miniconda3/envs/py3k/bin/pyinstaller --onefile pycalc/check.py
  - electron-packager . --overwrite --asar --ignore=.git --ignore=build
  - cp -r dist managment_software-win32-x64/
  - cp pycalc/info.dat managment_software-win32-x64/dist/
  - 7z a -tzip managment_software.zip -r managment_software-win32-x64

deploy:
  provider: releases
  api_key: 'ccc63df3cd195a3dbd199e73bd8a2762326e3b35'
  file: 'managment_software.zip'
  skip_cleanup: true
